<<<<<<< HEAD
 <!DOCTYPE html>
 <html>
 <head>
 <title></title>
 </head>

 <body>
 "Welcome"
 </body>

 </html> 
#<%# Write your code here! %>
<!DOCTYPE html>

<html>
<head> </head>
<body>
"Welcome!"
=======
<%# Write your code here! %>

<!DOCTYPE html>
<html>
<head></head>
<body>
  <h1>Welcome!</h1>
  
>>>>>>> 98f6932ee16e9629234110cad696befb949984e6
</body>
</html>
